<meta name="viewport" content="width=device-width, initial-scale=1.0">

10/10/2022 22:01 <br>
SKY making some changes, First he have done Premeir League and Main Event which we have managed to get back in 5 min, now he's hitting other channels too, Movies channels were gone down and we get them back again in 5 min. Keep me updated if any channel gone down, so i may try to fix it ASAP, no need to panic as we are not alone in it, every supplier facing same issues.
Thanks.

<script src="https://utteranc.es/client.js"
        repo="Itsmat32143/tv.bannedapps.uk"
        issue-term="pathname"
        label="ISSUES"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

